.order {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 12px;
  animation: order_animation 0.5s ease-in-out;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.40);
}

.order:nth-child(odd) {
  animation: order_odd_animation 0.5s ease-in-out;
}

@keyframes order_animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes order_odd_animation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.order_items_summery {
  flex: 1;
  padding: 1rem;
}

.items {
  list-style: none;
}

.item {
  padding: 0.625rem 1rem;
  display: flex;
  gap: 1rem;
  border-radius: 3px;
}

.item:nth-child(odd) {
  background: #e7e6e6;
}

.order_item_price {
  margin-left: auto;
}

.order_total_price {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0.5rem 0;
  color: #8a2b06;
  border-top: 2px solid #8a2b06;
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}

.customar_info {
  flex: 1;
  font-size: 0.95rem;
  padding: 1rem;
  border: none;
  background: #dadada;
  border-end-start-radius: inherit;
  border-end-end-radius: inherit;
}

.customar_info .item:nth-child(odd) {
  background: #eeeeee;
}

@media (min-width: 768px) {
  .order {
    flex-direction: row;
    gap: 1rem;
  }
  
  .customar_info {
    background: transparent;
    border: none;
    border-left: 3px solid #a5a5a5;
    border-radius: inherit;
  }
}