.food {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.food_img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  max-width: 100%;
}

.food_info {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

.food_info h3 {
  margin: 0 0 0.25rem 0;
  color: #ad5502;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
}

.add_to_cart {
  opacity: 0.8;
}




@media (min-width: 768px) {
  .food {
    width: 48%;
  }

  .food:hover {
    transform: scale(1.06);
  }
  
  .food:hover .add_to_cart {
    opacity: 1;
  }
}

@media (min-width: 1080px) {
  .food {
    width: 31%;
  }
}