* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

button:active {
  transform: translateY(-2px);
}