* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

button:active {
  transform: translateY(-2px);
}

a {
  text-decoration: none;
}

a.active::after {
  background: #e1e1e1 !important;
}

a.active:hover::after {
  background: #4d1601 !important;
}