.container {
  background: rgba(255, 255, 255, 0.50);
  padding: 1rem;
  border-radius: 12px;
  width: 500px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
  animation: container_animation 0.5s ease-in-out;
}

@keyframes container_animation {
  0% {
    transform: translateY(-100%);
  }
  95% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(0);
  }
}

.container h2, .container p {
  text-align: center;
  margin: 0.5rem 0;
  color: #8a2b06;
}

.form_error {
  color: red !important;
}

.form {
  margin-top: 1rem;
}

.form_control {
  display: flex;
  flex-direction: column;
}

.form_control label {
  margin: 0.5rem 0;
  color: #000;
  font-size: 0.875rem;
}

.form_control input {
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  outline-color: transparent;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.btn_submit {
  background: #8a2b06;
  color: #fff;
  padding: 0.5rem 1rem;
  outline-color: transparent;
  font-size: 1rem;
  border: 1px solid #8a2b06;
  border-radius: 3px;
  margin: 1rem 0;
}

.btn_submit:hover {
  background: #fff;
  color: #8a2b06;
}

.btn_change_auth {
  background: #4d1601;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}